In [11]:
import pandas as pd
import numpy as np

In [12]:
csv_file = "SCDB_2018_02_justiceCentered_Citation.csv"
csv_file2 = "appointment_party.csv"

In [13]:
scotus = pd.read_csv(csv_file, encoding = "latin1")
scotus.head()

,caseId,docketId,caseIssuesId,voteId,dateDecision,decisionType,usCite,sctCite,ledCite,lexisCite,...,majVotes,minVotes,justice,justiceName,vote,opinion,direction,majority,firstAgreement,secondAgreement
0,1946-001,1946-001-01,1946-001-01-01,1946-001-01-01-01-01,11/18/1946,1,329 U.S. 1,67 S. Ct. 6,91 L. Ed. 3,1946 U.S. LEXIS 1724,...,8,1,86,HHBurton,2.0,1.0,1.0,1.0,NaN,NaN
1,1946-001,1946-001-01,1946-001-01-01,1946-001-01-01-01-02,11/18/1946,1,329 U.S. 1,67 S. Ct. 6,91 L. Ed. 3,1946 U.S. LEXIS 1724,...,8,1,84,RHJackson,1.0,1.0,2.0,2.0,NaN,NaN
2,1946-001,1946-001-01,1946-001-01-01,1946-001-01-01-01-03,11/18/1946,1,329 U.S. 1,67 S. Ct. 6,91 L. Ed. 3,1946 U.S. LEXIS 1724,...,8,1,81,WODouglas,1.0,1.0,2.0,2.0,NaN,NaN
3,1946-001,1946-001-01,1946-001-01-01,1946-001-01-01-01-04,11/18/1946,1,329 U.S. 1,67 S. Ct. 6,91 L. Ed. 3,1946 U.S. LEXIS 1724,...,8,1,80,FFrankfurter,4.0,2.0,2.0,2.0,NaN,NaN
4,1946-001,1946-001-01,1946-001-01-01,1946-001-01-01-01-05,11/18/1946,1,329 U.S. 1,67 S. Ct. 6,91 L. Ed. 3,1946 U.S. LEXIS 1724,...,8,1,79,SFReed,1.0,1.0,2.0,2.0,NaN,NaN

In [14]:
vote_df = scotus[["justice", "caseId", "term", "majVotes", "minVotes", "decisionDirection", "direction", "majority", "partyWinning", "precedentAlteration", "vote", "issueArea"]]

vote_df.head()

,justice,caseId,term,majVotes,minVotes,decisionDirection,direction,majority,partyWinning,precedentAlteration,vote,issueArea
0,86,1946-001,1946,8,1,2.0,1.0,1.0,1.0,1.0,2.0,8.0
1,84,1946-001,1946,8,1,2.0,2.0,2.0,1.0,1.0,1.0,8.0
2,81,1946-001,1946,8,1,2.0,2.0,2.0,1.0,1.0,1.0,8.0
3,80,1946-001,1946,8,1,2.0,2.0,2.0,1.0,1.0,4.0,8.0
4,79,1946-001,1946,8,1,2.0,2.0,2.0,1.0,1.0,1.0,8.0

In [15]:
votes = vote_df.dropna(axis=0, subset=['issueArea'])

In [26]:
votes_df = votes.fillna(0)
votes_df.head()

,justice,caseId,term,majVotes,minVotes,decisionDirection,direction,majority,partyWinning,precedentAlteration,vote,issueArea
0,86,1946-001,1946,8,1,2.0,1.0,1.0,1.0,1.0,2.0,8.0
1,84,1946-001,1946,8,1,2.0,2.0,2.0,1.0,1.0,1.0,8.0
2,81,1946-001,1946,8,1,2.0,2.0,2.0,1.0,1.0,1.0,8.0
3,80,1946-001,1946,8,1,2.0,2.0,2.0,1.0,1.0,4.0,8.0
4,79,1946-001,1946,8,1,2.0,2.0,2.0,1.0,1.0,1.0,8.0

In [22]:
justice_numbers = [x for x in range(108, 116)]
justice_numbers

[108, 109, 110, 111, 112, 113, 114, 115]

In [25]:
for justice in justice_numbers:
    sample = votes_df.query(f"justice == {justice}")
    sample.to_csv(f"./{justice}justice.csv", index=False)

In [16]:
# cThomas.fillna(0, inplace=True)
# cThomas.sample(10)

,justice,caseId,term,majVotes,minVotes,decisionDirection,vote_direction,majority,partyWinning,precedentAlteration,vote,issueArea
60978,108,1993-011,1993,9,0,2,2,2,1,0,1,1
75941,108,2012-033,2012,9,0,1,1,2,1,0,1,2
60458,108,1992-073,1992,9,0,2,2,2,1,0,1,3
78211,108,2015-068,2015,7,1,2,1,1,1,0,2,1
72216,108,2007-030,2007,9,0,2,2,2,0,0,3,8
75923,108,2012-031,2012,5,4,1,1,2,1,0,1,9
60764,108,1992-107,1992,5,4,1,1,2,1,0,1,4
73701,108,2009-038,2009,9,0,2,2,2,0,0,1,8
72378,108,2007-048,2007,9,0,2,2,2,1,0,1,8
63452,108,1996-007,1996,8,1,1,1,2,0,0,1,2

In [14]:
# cThomas = cThomas.astype({"partyWinning": int, "precedentAlteration": int, "majority": int, "vote_direction": int, "decisionDirection": int, "vote": int, "issueArea": int})
# cThomas.dtypes

justice                 int64
caseId                 object
term                    int64
majVotes                int64
minVotes                int64
decisionDirection       int32
vote_direction          int32
majority                int32
partyWinning            int32
precedentAlteration     int32
vote                    int32
issueArea               int32
dtype: object

In [172]:
# ct = cThomas.query("majority == 1 & decisionDirection == 2").index
# second = cThomas.query("majority == 1 & decisionDirection == 1").index
# third = cThomas.query("majority == 2 & decisionDirection == 1").index
# fourth = cThomas.query("majority == 2 & decisionDirection == 2").index
# fifth = cThomas.query("decisionDirection == 3").index

In [17]:
# cThomas.loc[first, "vote_direction"] = 1
# cThomas.loc[second, "vote_direction"] = 2
# cThomas.loc[third, "vote_direction"] = 1
# cThomas.loc[fourth, "vote_direction"] = 2
# vote.loc[fifth, "vote_direction"] = 3
# cThomas.head(25)

In [18]:
party = pd.read_csv(csv_file2)
party.set_index("Justice", inplace = True)
party.head()

         appointement_party
Justice
108                       0
109                       1
110                       1
111                       0
112                       0