In [153]:
import pandas as pd
import numpy as np

In [154]:
csv_file = "SCDB_2018_02_justiceCentered_Citation.csv"
csv_file2 = "appointment_party.csv"

In [155]:
scotus = pd.read_csv(csv_file, encoding = "latin1")
scotus.head()

,caseId,docketId,caseIssuesId,voteId,dateDecision,decisionType,usCite,sctCite,ledCite,lexisCite,...,majVotes,minVotes,justice,justiceName,vote,opinion,direction,majority,firstAgreement,secondAgreement
0,1946-001,1946-001-01,1946-001-01-01,1946-001-01-01-01-01,11/18/1946,1,329 U.S. 1,67 S. Ct. 6,91 L. Ed. 3,1946 U.S. LEXIS 1724,...,8,1,86,HHBurton,2.0,1.0,1.0,1.0,NaN,NaN
1,1946-001,1946-001-01,1946-001-01-01,1946-001-01-01-01-02,11/18/1946,1,329 U.S. 1,67 S. Ct. 6,91 L. Ed. 3,1946 U.S. LEXIS 1724,...,8,1,84,RHJackson,1.0,1.0,2.0,2.0,NaN,NaN
2,1946-001,1946-001-01,1946-001-01-01,1946-001-01-01-01-03,11/18/1946,1,329 U.S. 1,67 S. Ct. 6,91 L. Ed. 3,1946 U.S. LEXIS 1724,...,8,1,81,WODouglas,1.0,1.0,2.0,2.0,NaN,NaN
3,1946-001,1946-001-01,1946-001-01-01,1946-001-01-01-01-04,11/18/1946,1,329 U.S. 1,67 S. Ct. 6,91 L. Ed. 3,1946 U.S. LEXIS 1724,...,8,1,80,FFrankfurter,4.0,2.0,2.0,2.0,NaN,NaN
4,1946-001,1946-001-01,1946-001-01-01,1946-001-01-01-01-05,11/18/1946,1,329 U.S. 1,67 S. Ct. 6,91 L. Ed. 3,1946 U.S. LEXIS 1724,...,8,1,79,SFReed,1.0,1.0,2.0,2.0,NaN,NaN

In [156]:
vote_df = scotus[["justice", "majVotes", "minVotes", "decisionDirection", "majority", "caseId", "term", "partyWinning", "precedentAlteration", "vote", "issueArea"]]

vote_df.head()

,justice,majVotes,minVotes,decisionDirection,majority,caseId,term,partyWinning,precedentAlteration,vote,issueArea
0,86,8,1,2.0,1.0,1946-001,1946,1.0,1.0,2.0,8.0
1,84,8,1,2.0,2.0,1946-001,1946,1.0,1.0,1.0,8.0
2,81,8,1,2.0,2.0,1946-001,1946,1.0,1.0,1.0,8.0
3,80,8,1,2.0,2.0,1946-001,1946,1.0,1.0,4.0,8.0
4,79,8,1,2.0,2.0,1946-001,1946,1.0,1.0,1.0,8.0

In [157]:
cThomas = vote_df.loc[vote_df["justice"]==108,:]
cThomas.head()

,justice,majVotes,minVotes,decisionDirection,majority,caseId,term,partyWinning,precedentAlteration,vote,issueArea
58748,108,8,0,1.0,NaN,1991-003,1991,0.0,0.0,NaN,2.0
58757,108,8,0,2.0,NaN,1991-004,1991,0.0,0.0,NaN,2.0
58766,108,8,0,1.0,NaN,1991-005,1991,1.0,0.0,NaN,9.0
58775,108,8,0,1.0,NaN,1991-006,1991,0.0,0.0,NaN,4.0
58784,108,6,2,1.0,NaN,1991-007,1991,1.0,0.0,NaN,1.0

In [158]:
cThomas.reset_index(inplace = True)
cThomas.head()

,index,justice,majVotes,minVotes,decisionDirection,majority,caseId,term,partyWinning,precedentAlteration,vote,issueArea
0,58748,108,8,0,1.0,NaN,1991-003,1991,0.0,0.0,NaN,2.0
1,58757,108,8,0,2.0,NaN,1991-004,1991,0.0,0.0,NaN,2.0
2,58766,108,8,0,1.0,NaN,1991-005,1991,1.0,0.0,NaN,9.0
3,58775,108,8,0,1.0,NaN,1991-006,1991,0.0,0.0,NaN,4.0
4,58784,108,6,2,1.0,NaN,1991-007,1991,1.0,0.0,NaN,1.0

In [ ]:
cThomas["vote_direction"] = 0

In [163]:
cThomas.fillna(0, inplace=True)
cThomas.head()

,index,justice,majVotes,minVotes,decisionDirection,majority,caseId,term,partyWinning,precedentAlteration,vote,issueArea,vote_direction
0,58748,108,8,0,1.0,0.0,1991-003,1991,0.0,0.0,0.0,2.0,0.0
1,58757,108,8,0,2.0,0.0,1991-004,1991,0.0,0.0,0.0,2.0,0.0
2,58766,108,8,0,1.0,0.0,1991-005,1991,1.0,0.0,0.0,9.0,0.0
3,58775,108,8,0,1.0,0.0,1991-006,1991,0.0,0.0,0.0,4.0,0.0
4,58784,108,6,2,1.0,0.0,1991-007,1991,1.0,0.0,0.0,1.0,0.0

In [164]:
cThomas = cThomas.astype({"partyWinning": int, "precedentAlteration": int, "majority": int, "vote_direction": int, "decisionDirection": int, "vote": int, "issueArea": int})
cThomas.dtypes

index                   int64
justice                 int64
majVotes                int64
minVotes                int64
decisionDirection       int32
majority                int32
caseId                 object
term                    int64
partyWinning            int32
precedentAlteration     int32
vote                    int32
issueArea               int32
vote_direction          int32
dtype: object

In [165]:
cThomas.sample()

,index,justice,majVotes,minVotes,decisionDirection,majority,caseId,term,partyWinning,precedentAlteration,vote,issueArea,vote_direction
1249,69979,108,6,2,2,1,2004-023,2004,1,0,2,2,1

In [171]:
cThomas["vote_direction"] = 0
cThomas.head(10)

,index,justice,majVotes,minVotes,decisionDirection,majority,caseId,term,partyWinning,precedentAlteration,vote,issueArea,vote_direction
0,58748,108,8,0,1,0,1991-003,1991,0,0,0,2,0
1,58757,108,8,0,2,0,1991-004,1991,0,0,0,2,0
2,58766,108,8,0,1,0,1991-005,1991,1,0,0,9,0
3,58775,108,8,0,1,0,1991-006,1991,0,0,0,4,0
4,58784,108,6,2,1,0,1991-007,1991,1,0,0,1,0
5,58793,108,8,0,2,0,1991-008,1991,0,0,0,8,0
6,58802,108,8,0,2,0,1991-009,1991,1,0,0,1,0
7,58811,108,9,0,1,2,1991-010,1991,0,0,1,9,0
8,58820,108,8,0,2,0,1991-011,1991,1,0,0,3,0
9,58829,108,6,2,1,0,1991-012,1991,0,0,0,6,0

In [172]:
first = cThomas.query("majority == 1 & decisionDirection == 2").index
second = cThomas.query("majority == 1 & decisionDirection == 1").index
third = cThomas.query("majority == 2 & decisionDirection == 1").index
fourth = cThomas.query("majority == 2 & decisionDirection == 2").index
fifth = cThomas.query("decisionDirection == 3").index

In [173]:
cThomas.loc[first, "vote_direction"] = 1
cThomas.loc[second, "vote_direction"] = 2
cThomas.loc[third, "vote_direction"] = 1
cThomas.loc[fourth, "vote_direction"] = 2
vote.loc[fifth, "vote_direction"] = 3
cThomas.head(25)

,index,justice,majVotes,minVotes,decisionDirection,majority,caseId,term,partyWinning,precedentAlteration,vote,issueArea,vote_direction
0,58748,108,8,0,1,0,1991-003,1991,0,0,0,2,0
1,58757,108,8,0,2,0,1991-004,1991,0,0,0,2,0
2,58766,108,8,0,1,0,1991-005,1991,1,0,0,9,0
3,58775,108,8,0,1,0,1991-006,1991,0,0,0,4,0
4,58784,108,6,2,1,0,1991-007,1991,1,0,0,1,0
5,58793,108,8,0,2,0,1991-008,1991,0,0,0,8,0
6,58802,108,8,0,2,0,1991-009,1991,1,0,0,1,0
7,58811,108,9,0,1,2,1991-010,1991,0,0,1,9,1
8,58820,108,8,0,2,0,1991-011,1991,1,0,0,3,0
9,58829,108,6,2,1,0,1991-012,1991,0,0,0,6,0
10,58838,108,9,0,1,2,1991-013,1991,1,0,1,8,1
11,58847,108,8,0,1,0,1991-014,1991,1,0,0,5,0
12,58856,108,9,0,1,2,1991-015,1991,1,0,1,2,1
13,58865,108,6,2,1,0,1991-016,1991,1,0,0,8,0
14,58874,108,8,0,2,0,1991-017,1991,1,0,0,2,0
15,58883,108,6,1,2,0,1991-018,1991,1,0,0,8,0
16,58892,108,7,2,1,2,1991-019,1991,0,0,1,1,1
17,58901,108,9,0,2,2,1991-020,1991,1,0,1,9,2
18,58910,108,9,0,2,2,1991-021,1991,0,0,1,2,2
19,58919,108,7,1,2,0,1991-022,1991,1,0,0,2,0
20,58928,108,9,0,1,2,1991-023,1991,1,0,1,8,1
21,58937,108,5,3,1,0,1991-024,1991,1,0,0,1,0
22,58946,108,9,0,1,2,1991-025,1991,0,0,4,1,1
23,58955,108,6,2,1,0,1991-026,1991,1,0,0,4,0
24,58964,108,6,2,1,0,1991-027,1991,0,0,0,8,0

In [68]:
party = pd.read_csv(csv_file2)
party.set_index("Justice", inplace = True)
party.head()

         appointement_party
Justice
108                       0
109                       1
110                       1
111                       0
112                       0